@import url('./css/base/base.css');
$yellow: #f9b43b;
$orange: #e45028;
$title-font: 72px Gagalin;
.first-screen {
    min-height: 100%;
    width: 100%;
    background: url('./img/texture.png') no-repeat fixed, url('./img/background-photo.png') no-repeat fixed;
    background-size: cover;
    padding-top: 13px;
    padding-bottom: 35px;
    color: #fff;
}

.first-screen__content {
    display: flex;
}

.menu {
    display: flex;
    align-items: baseline;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.menu__list {
    display: flex;
    margin-right: 25px;
}

.menu__item:not(:last-child):after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 22px;
    margin-right: 22px;
    display: inline-block;
    vertical-align: middle;
}

.menu__item {
    a {
        text-decoration: none;
        color: #fff;
        transition-duration: .2s;
    }
    &:hover {
        text-decoration: underline;
    }
}

.order {
    background-color: $orange;
    padding: 13px 17px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 7px;
    cursor: pointer;
    transition-duration: .3s;
}

.order:hover {
    background-color: darken($orange, 10%);
}

.container_first-screen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.first-screen__desc {
    margin-top: 150px;
    margin-left: 11px;
    .title {
        color: $yellow;
        margin-bottom: -70px;
    }
    .subtitle {
        font-family: Lifehack;
        font-size: 65px;
        font-weight: 500;
        line-height: 1em;
    }
}

.arrow {
    width: 29px;
    height: 14px;
    background: url('./img/css_sprites.png') -335px -134px;
    margin: 0 auto;
    margin-top: 70px;
}

/* Второй экран */

.features {
    padding-top: 134px;
    padding-bottom: 155px;
    height: 100%;
    background: url('./img/second-screen-bg.jpg') center center no-repeat;
    background-size: cover;
    h2 {
        text-align: center;
        margin-bottom: 55px;
    }
    &__item {
        width: 33%;
    }
    &__item:not(:last-child) {
        margin-right: 17px;
    }
    &__desc {
        text-align: center;
    }
    h3 {
        font-family: Lifehack;
        font-size: 24px;
        font-weight: 500;
    }
    p {
        text-align: center;
        color: rgba(47, 50, 52, 0.8);
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
    }
    ul {
        display: flex;
    }
}

.features__icon {
    width: 97px;
    height: 89px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 40px;
}

.features__icon-meat {
    background: url('./img/css_sprites.png') -30px -30px;
}

.features__icon-hand {
    background: url('./img/css_sprites.png') -30px -179px;
}

.features__icon-natural {
    background: url('./img/css_sprites.png') -187px -30px;
}

.reviews__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.reviews__item {
    width: 25%;
    max-height: 327px;
    img {
        filter: grayscale(100%);
        width: 100%;
        margin-bottom: -5px;
    }
}

.points {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 50px;
}

.points__list {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.points__item {
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 15px;
    position: relative;
}

.points__item:hover:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .2s;
}