* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    margin: 0px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    min-width: 940px;
}

.container {
    width: 940px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
}


.title {
    font: $title-font;
}

.section {
    min-height: 650px;
    height: 100vh;


}