.burgers {
    background: -moz-linear-gradient(top, #f9b43b 0%, #eb8c38 50%, #f9b43b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f9b43b 0%,#eb8c38 50%,#f9b43b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f9b43b 0%,#eb8c38 50%,#f9b43b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: relative;
    background-size: cover;

   display: flex;
    align-items: center;
    justify-content: center;
    min-height: 650px; 
}

.burgers__container {
    height: 100%;
}

.burgers__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    
    padding-top: 10%;
    padding-bottom: 10%;

    @include tablets() {
        flex-direction: column;
        padding-top: 15%;
    }
}

.arrow-scroll-icon {
    width: 1.8125rem;
    height: .875rem;
}



.burgers__slider {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100%;
    padding-bottom: 5%;

    @include tablets() {
        width: 90%;
        height: 90%;
        overflow: hidden;
        align-items: center;
    }

}

.burgers__list {
    right: 0;
    transition: .3s;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}


.burgers__item {

    display: flex;
    flex: 1 0 auto;
    width: 100%;
    


    @include tablets() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-flow: column;
        width: 100%;
    }
}



.burgers__img-pic {
    width: 100%;
    @include tablets() {
        width: 85%;
    }
}



.burgers__col {
    display: flex;
    width: 50%;

    @include tablets() {
    }
}



.burgers__img {
    text-align: center;
    width: 90%;
    display: flex;
    align-items: center;
    

    @include tablets () {
        width: 100%;
    }
}



.burgers__info {
    color: #fff;
    width: 380px;
    @include tablets () {
        width: 90%;
        align-items: center;
    }
}


.burgers__title {
    line-height: 64px;
    margin-bottom: 2.5rem;

    @include tablets() {
        font-size: 2.5rem;
        line-height: 1;
        margin-bottom: 1.5rem;
    }
}

.burgers__order {
    display: flex;
    align-items: baseline;

    @include tablets() {
        justify-content: center;
    }
}



.burgers__price {
    color: $orange;
    font-family: Gagalin;
    font-size: 1.875rem;
    margin-right: 1.875rem;

    @include tablets () {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}

.burgers__price-number {
    font-size: 4.5rem;
}

.burgers__desc {
    font-weight: 300;
    font-size: .875rem;
    margin-bottom: 1.5625rem;
    @include tablets(){
        max-width: 565px;
    }
}

.burgers__ingredients {
    position: absolute;
    left: 0;
    top: 0;
    width: 5.625rem;
    height: 5.625rem;
    background-color: #f08c33;
    color: #fff;
    font-family: Gagalin;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: .3125rem;
    transition-duration: .2s;

    

    @include tablets() {
        top: .6rem;
        bottom: auto;
    }
}

.burgers__ingredients-icon {
    max-width: 2.875em;
    max-height: 2.750em;
    width: 100%;
}

.burgers__ingredients-title {
    font-size: 0.875rem;
}

.burgers__ingredients-dropdown {
    opacity: 0;
    display: flex;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: rgba(255,255,255, 0.9);
    border-radius: .5em;
    padding: 1.25rem;
    width: 16.875rem;
    transition-duration: .2s;

    @include tablets() {
        width: 20rem;
    }
    
}

.burgers__ingredients:hover {
    cursor: pointer;
    background-color: $orange;

    .burgers__ingredients-dropdown {
        opacity: 1;
    }
}




.dropdown__list {
    width: 100%;
}

.dropdown__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2f3234;
    text-align: left;
    font-family: Ubuntu;
    font-weight: 300;
    font-size: .875rem;
    margin-bottom: 5%;

    
    @include tablets() {
        justify-content: space-around;
    }
}

.dropdown__item:last-child {
    margin-bottom: 0;
}


.dropdown__name {
    flex: 1;
    font-weight: 500;
    margin-right: .6rem;
}

.dropdown__weight {
    margin-right: 3em;
}


.dropdown__pic {
    max-width: 3.063em;
    max-height: 2.438em;
    margin-right: 1.25rem;
    width: 100%;
    height: 100%;
}

.dropdown__close {
    display: none;
    @include tablets() {
        display: block;
        position: absolute;
        top: 3%;
        right: 3%;
    }

}

.burgers__kkal {
    position: absolute;
    width: 4.375rem;
    height: 5rem;
    bottom: 0rem;
    font-family: Gagalin;
    color: #fff;
    opacity: .5;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets() {
        right: 0;
        top: .6rem;
        left: auto;
        bottom: auto;
    }

}

.burgers__kkal-number {
    background-image: url('../img/kkal.svg');
    background-repeat: no-repeat;
    width: 3.75rem;
    height: 3.75rem;
    background-position: center;
    font-size: 1.25rem;
    padding-top:20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burgers__kkal-measure {
    font-size: 0.875em;
}


.burgers__arrow-link_left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    left: -1.875rem;

    @include tablets() {
       left: -1rem;
    }
}

.burgers__arrow-link_right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    right: -1.875rem;

    @include tablets() {
        right: -1rem;
    }
}
