.contacts {
    background: url('../img/map-marker.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

.footer {
    position: absolute;
    width: 100%;
    top: 90%;
    z-index: 11;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f3234;
    display: flex;
    align-items: center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.footer__phone {
    font-weight: bold;
    color: #e45028;
    display: flex;
    align-items:center;
}

.phone-icon {
    max-width: 12px;
    max-height: 11px;
    margin-right: 10px;
}

.socials__list {
    display: flex;
}

.socials__item {

    svg {
    max-width: 20px;
    max-height: 20px;
    opacity: 0.3;
    margin-left: 20px;

    transition-duration: .3s;
    }

    svg:hover {
        opacity: 1;
    }


}



