.contacts {
    background: url('../img/map-marker.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

.footer {
    position: absolute;
    width: 100%;
    top: 90%;
    z-index: 11;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2f3234;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.footer__col {
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;
    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.footer__phone {
    font-weight: bold;
    color: #e45028;
    display: flex;
    align-items:center;
}

.phone-icon {
    max-width: 0.75em;
    max-height: 0.688em;
    margin-right: 0.625em;
}

.socials__list {
    display: flex;
}

.socials__item {

    svg {
    max-width: 1.25em;
    max-height: 1.25em;
    opacity: 0.3;
    margin-left: 1.25em;

    transition-duration: .3s;
    }

    svg:hover {
        opacity: 1;
    }


}



