.features {
    padding-top: 134px;
    padding-bottom: 155px;
    background: url('../img/second-screen-bg.jpg') center center no-repeat;
    background-size: cover;
    h2 {
        text-align: center;
        margin-bottom: 55px;
    }
    &__item {
        width: 33%;
    }
    &__item:not(:last-child) {
        margin-right: 17px;
    }
    &__desc {
        text-align: center;
    }
    h3 {
        font-family: Lifehack;
        font-size: 24px;
        font-weight: 500;
    }
    p {
        text-align: center;
        color: rgba(47, 50, 52, 0.8);
        font-family: Ubuntu;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
        margin-top: 5px;
    }
    ul {
        display: flex;
    }
}

.features__icon {
    width: 97px;
    height: 89px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px;
}

.features__icon-meat {
    background: url('../img/css_sprites.png') -30px -30px;
}

.features__icon-hand {
    background: url('../img/css_sprites.png') -30px -179px;
}

.features__icon-natural {
    background: url('../img/css_sprites.png') -187px -30px;
}