.features {
    background: url('../img/second-screen-bg.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    background-position: center center;

    h2 {
        margin-bottom: 3rem;

        @include phones {
            font-size: 52px;
            margin-bottom: 1.25rem;
        }
    }

    h3 {
        font-family: 'Lifehack';
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: .9375rem;
        @include phones {
            text-align: left;
            margin-bottom: 0.3em;
        }
    }

    p {
        text-align: center;
        color: rgba(47, 50, 52, 0.8);
        font-family: Ubuntu;
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.71;
        margin-top: 0.313em;
        @include phones {
            text-align: left;
            line-height: 1.3;
        }
    }
}

.features__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 69%;
    @include phones {
        height: 90%;
    }
}

.features__icon {
    margin-bottom: 1em;
    width: 100%;
@include phones {
    width: 25%;
    text-align: center;
}


}

.meat-icon {
    max-width: 6.063em;
    max-height: 5.563em;
}

.hand-icon {
    max-width: 4.563em;
    max-height: 5.313em;

}

.natural-icon {
    max-width: 5.5em;
    max-height: 4.688em;
}

.features__list {
    display: flex;
    @include phones {
        flex-direction: column;
        padding-bottom: 7%;
      }
}


.features__item {
    display: flex;
    flex-direction: column;
    padding: 0 0.938em;
    margin-bottom: 3.125em;
    @include phones {
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        margin-bottom: .625rem;
        justify-content: space-between;
      }
}

.features__desc {
    @include phones {
        width: 70%;
    }
}