.order {
    background: url('../img/logos-texture-order.png') center center no-repeat, url('../img/chalkboard-texture-order.png') center center no-repeat;
    background-size: cover;

    color: #fff;
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 9.375em;
    padding-bottom: 9.375em;


    .title {
        color: $yellow;
        text-align: center;
        margin-bottom: 0.4em;
    }
}

.order__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.form {
    display: flex;
    margin-left: -5px;
    @include tablets () {
        flex-direction: column;
        margin-bottom: 1.25rem;
        margin-left: 0;
    }
}

.form__col {
    margin-right: 1.25em;
    flex:1;

    @include tablets() {
        margin-right: 0;
        width: initial;
    }
}

.form__col:last-child {
    margin-right: 0;
    @include tablets () {
        margin-top: 1.25em;
    }
}

.form__row {
    display: flex;
    margin-bottom: 1.25em;

}

.form__row:last-child {
    margin-bottom: 0;
}

.form__block {
    margin-right: 1.25em;
    flex: 1;
}

.form__block:last-child {
    margin-right: 0;
}

.form__block-input, 
textarea {
    border-radius: 5px;
    background: #fff;
    border: none;
    width: 100%;
    padding: 0.5em 0.625em;
    
}

.form__block-title {
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 0.563em;
}

.form-controlls__buttons {
    display: flex;
    
    

}

.form-controlls__btn {
    display: flex;
    align-items: center;
    margin-right: 1.25em;
    &:last-child {
        margin-right: 0;
    }

}

.form-controlls__real-radio {
    display: none;
}

.form-controlls__real-radio:checked ~ .form-controlls__fake-radio:after {
    content: "";
    display: inline-block;
}

.form-controlls__btn-title {
    font-size: 0.875rem;
    font-weight: 300;
}


.form-controlls__fake-radio {
    width: 0.938em;
    height: 0.938em;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin-right: 0.625em;
    
}

.form-controlls__fake-radio:after {
    content: "";
    display: none;
    position: absolute;
    width: 0.438em;
    height: 0.438em;
    border-radius: 50%;
    background-color: #e35028;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form__checkbox {
    display: flex;
    align-items: center;
}

.form__real-checkbox {
    display: none;
}

.form__real-checkbox:checked ~ .form__checkbox-fake:after {
    content: "";
    display: inline-block;
}

.form__checkbox-fake {
    width: 0.938em;
    height: 0.938em;
    background-color: #fff;
    position: relative;
    margin-right: 0.625em;
}

.form__checkbox-fake:after {
    content: "";
    display: none;
    position: absolute;
    width: 0.688em;
    height: 0.563em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url(../img/checked.png);
    background-repeat: no-repeat;
}

.form__checkbox-title {
    font-weight: 300;
    font-size: 0.875rem;
}

input:focus, 
textarea:focus {
    border: 1px solid $orange;
    outline: none;
    font-size: 0.875rem;
    font-weight: 300;
}

input, 
textarea {
    font-size: 0.875rem;
    font-weight: 300;
}

.btn-submit {
    border-radius: 5px;
    background-color: #e45028;
    color: #fff;
    font-size: 0.8125rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 1.25em;
    padding: 0.813em 1.063em;
    transition-duration: .3s;

    &:hover {
        background-color: darken($orange, 15%);
    }
}

.btn-reset {
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 300;
    color: #fff;

    &:hover {
        text-decoration: underline;
    }
}

.form__row-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__row-check {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__row-radio {
    display: flex;
    align-items: center;
    justify-content: center;
}




