.our-menu {
    background: url('../img/our-menu-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;

    .title {
        color: #fff;
        padding-top: 6%;
        padding-left: 6%;
    }
}

.our-menu__list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    max-width: 70%;

    @include tablets() {
        max-width: 100%;
    }
}

.our-menu__content {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position:relative;
}

.our-menu__content-meet {
    background-image: url('../img/our-menu-burger-1.jpg');
}

.our-menu__content-vegetarian {
    background-image: url('../img/our-menu-burger-2.jpg');
}

.our-menu__content-diet {
    background-image: url('../img/our-menu-burger-3.jpg');
}

.our-menu__content:before {
    content: "";
    background-color: rgba(20,20,20,0.7);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.our-menu__item {
    display: flex;
    flex-wrap: nowrap;
}

.our-menu__btn:hover {
    color: $yellow;
}

.our-menu__btn {
    font-family: "Gagalin";
    font-size: 2.5rem;
    transform: rotate(-90deg);
    white-space: nowrap;
    color: #fff;
    display: inline-block;
    line-height: 5em;
    margin-bottom: 40%;
    transition-duration: .3s;
}

.our-menu__desc {
height: 0;
overflow: hidden;
}

.our-menu__item_active {

    .our-menu__desc {
        background: rgba(47,50,52,.93);
        height: 100%;
        overflow: hidden;
        
        font-weight: 300;
        line-height: 1.5rem;
        opacity: .93;
        background: #333231;
        color: #fff;
        font-size: 0.875rem;
        padding: 3.125em 1.563em;
        
        @include tablets() {
            font-size: 0.75rem;
            line-height: 1.3rem;
        }

        @include phones() {
            font-size: 0.65rem;
            line-height: 1.25rem;
        }
        
    }

    .our-menu__btn {
        color: $yellow;
    }
}