.points__list {
    position: fixed;
    right: 2.8125rem;
    top: 5.625rem;
}

.points__item-link {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    display: block;
    border: 1px solid transparent;
    &:hover {
        border-color: #fff;
    }
    &:before {
        content: "";
        display: block;
        width: 0.375em;
        height: 0.375em;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.points__item {
    margin-bottom: 0.625em;
    &.active {
        .points__item-link {
            border-color: #fff;
        }
    }
}