
.reviews {
    background-color: #000;
    position: relative;
}

.reviews__list {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
}

.reviews__item {
    width: 25%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    position: relative;

    @include tablets () {
        width: 50%;
        height: 25%;
    }

    &:hover {
        .reviews__item-hover {
            opacity: 1;
        }
    }
}

.reviews__title {
    font-family: Gagalin;
    font-size: 0.875rem;
    margin-bottom: 1.875em;
    @include tablets() {
        margin-bottom: 0.2em;
    }

    @include phones() {
        font-size: 1.5rem;
    }
}

.reviews__text {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.87em;
    padding-bottom: 1.063em;
    max-height: 70%; 
    overflow: hidden;
    @include tablets() {
        padding: 0;
        margin-bottom: 5%;
        line-height: 1.2em;
        
        max-height: 40%;
        overflow: hidden;
    }

    @include phones() {
        display: none; 
    }
}

.reviews__item-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.7);
    padding: 3.125em 2.063em 3.125em 1.25em;
    color: #fff;
    opacity: 0;
    transition: opacity .3s;

    @include tablets() {
        text-align: center;
        padding: 1.3em;

    }
}

.btn_black {
    background-color: #2f3234;
    padding: 1em 1em;
    max-width: 8em;
    color: #fff;
    text-transform: uppercase;
    border-radius: 7px;
    font-size: 0.8125rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition-duration: .3s;
    

    &:hover {
        background-color: darken(#2f3234, 20%);
    }
}
